[submodule "iutilities"]
	path = iutilities
	url = r:/pipe_repo/users/hussain/utilities/iutilities
[submodule "external/utilities"]
	path = external/utilities
	url = r:/pipe_repo/users/hussain/utilities/iutilities
